{% extends "base.html" %}
{% block content %}
    <form action="/profileOne" method="POST">
            <h3 name="user">{{username}}</h3>
            <button type="submit">Go to personal Code Space</button>
    </form>
    <div id="intro">
        <h1>Python Online Quiz</h1>
        <div>
            <pre id="save_output">{{savenotification}}</pre>
        </div>
    </div>
    <br>
    <div>
        <form action="/run_code" method="POST">
            <textarea name="codestuff" id="coding" rows="25" cols="80" placeholder="ENTER CODE HERE">{{codearea}}</textarea>
            <br>
            <button type="submit" id="run" formaction="/run_code">Run</button>
            <button type="submit" id="save_code" formaction="/save_code">Save Code Snippet</button>
            <button type="submit" id="get_code" formaction="/get_code">Pull Code Snippet</button>


            <br>
            <div id="uploadDownloadContainer">
                <button id="downloadButton" onclick="saveTextAsFile('download.txt')">Download Code</button>
                <input id="txtFile" type="file"/>
            </div>
        </form>
        <br>
        <div id="output">
            <pre>{{print_output}}</pre>
        </div>
        <br>
    </div>
    <script src="../static/upload.js"></script>
    <script src="../static/download.js"></script>
{% endblock %}