{% extends "base.html" %}
{% block content %}
<div id="intro">
    <h1>Login</h1>
</div>
<br>
<div>
    <form action="/" method="POST">
        <input type="text" placeholder="Email" name="username"/>
        <br>
        <input type="text" placeholder="Password" name="password" />
        <br>
        <button type="submit" id="run" formaction="/login">Login </button>
        <button type="submit" id="create" formaction="/create-user">Create</button>
        <p>{{loginStatus}}</p>
    </form>
</div>
{% endblock %}