<!DOCTYPE html>

{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my profile</title>
</head>
<form action="http://localhost:63342/codesender-project-gteam/codesender/templates/index.html?_ijt=fj0pbrnjq76f1qr5u13p29cp98&_ij_reload=RELOAD_ON_SAVE">
            <button type="submit" id="get_code" >go to index page </button>
        </form>
<form action="http://localhost:63342/codesender-project-gteam/codesender/templates/base.html?">
<button type="submit" id="get_code" >go to my base page</button>
    </form>
<body>


</body>
</html>
