{% extends "base.html" %}
{% block content %}
    <div id="intro">
        <form action="/">
            <h3 name="user">{{username}}</h3>
            <button type="submit" formaction="/personal_code">Go back to Main</button>
            <h1>Python Online Quiz</h1>
            <div>
                <pre id="save_output">{{savenotification}}</pre>
            </div>
            <button>Button One</button>
            <button>Button Two</button>
            <button>Button Three</button>
        </form>
    </div>
    <br>
    <div>
        <form action="/run_code" method="POST">
            <textarea name="codestuff" id="coding" rows="25" cols="80" placeholder="ENTER CODE HERE">{{codearea}}</textarea>
            <br>
            <button type="submit" id="run" formaction="/run_code">Run</button>
            <button type="submit" id="save_code" formaction="/save_code">Save Code Snippet</button>
        </form>
        <br>
        <div id="output">
            <pre>{{print_output}}</pre>
        </div>
        <br>
    </div>
    <script src="../static/upload.js"></script>
    <script src="../static/download.js"></script>
{% endblock %}
